@import "bootstrap-sprockets";
@import "bootstrap";

header {
  padding-top: 15px;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 3px solid #d3d3d3;

  span {
    font-weight: bold;
  }
  ul, li {
    display:inline
  }
}

.wrap {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center
}

#events-table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#events-details {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
