<h1>Movies#index</h1>

<table>
  <thead>
    <th>Title</th>
    <th>Image</th>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= image_tag movie.image.url(:medium) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create movie", new_movie_path %>

