<h2>My Events</h2>

<% if @user.created_events.any? %>
  <div id="events-table">
    <%= render 'shared/table', object: @user.created_events %>
  </div>
<% else %>
  <h5>You haven't created any event yet</h5>
<% end %>

<h2>Attending Events</h2>

<% if @user.attended_events.any? %>
  <div id="events-table">
    <%= render 'shared/table', object: @user.attended_events %>
  </div>
<% else %>
  <h5>You haven't scheduled any events yet.</h5>
<% end %>
