<h2>My Events</h2>

<% if @user.created_events.any? %>

  <h3>Upcoming Events</h3>

  <% if @user.upcoming_events.any? %>
    <div id="events-table">
      <%= render 'shared/table', object: @user.upcoming_events %>
    </div>
  <% else %>
    <h5>You haven't created any upcoming event yet.</h5>
  <% end %>

  <h3>Previous Events</h3>

  <% if @user.previous_events.any? %>
    <div id="events-table">
      <%= render 'shared/table', object: @user.previous_events %>
    </div>
  <% else %>
    <h5>There aren't past events.</h5>
  <% end %>

<% else %>
  <h5>You haven't created any events yet.</h5>
<% end %>

<h3>Attending Events</h3>

<% if @user.attended_events.any? %>
  <div id="events-table">
    <%= render 'shared/table', object: @user.attended_events %>
  </div>
<% else %>
  <h5>You haven't scheduled any events yet.</h5>
<% end %>
